<body class="bg-gradient-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="card-body">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form #signInForm="ngForm" class="col s12 white" (ngSubmit)="onSubmit(signInForm)">
                                        <label for="inputEmail" class="sr-only">Email Address</label>
                                        <input type="text" #email ngModel id="inputEmail" class="form-control" name="email" placeholder="Email" style="margin-top: 10px;" ngModel required autofocus>
                                        <label for="inputPassword" class="sr-only">Password</label>
                                        <input type="password" #password ngModel id="inputPassword" class="form-control" name="password" placeholder="Password" autocomplete="on" style="margin-top: 10px;" ngModel required>

                                        <button class="btn btn-primary btn-block" type="submit">Sign in</button>
                                        <div *ngIf="isLoginError" style="color: red;" class="red-text center error-message">
                                            Incorrect email or password
                                        </div>
                                        <!-- <div class="alert alert-danger" role="alert" *ngIf="isFormValid">
                                            Please fill all fields.
                                        </div>
                                        <div class="alert alert-danger" role="alert" *ngIf="areCredentialsInvalid">
                                            Invalid user or password.
                                        </div> -->
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/src/app/vendor/jquery/jquery.min.js"></script>
    <script src="/src/app/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/src/app/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/src/app/css/sb-admin-2.css"></script>

</body>